<h1> Plog</h1>

<form action="/accueil" method="post">
<label for="name">Selectionne ton prenom et tape ton log:</label>
<br /><br />
  <select name="choix" id="choix">
      <option value="Mounir">Mounir</option>
      <option value="Remy">Remy</option>
  </select>
<br />
    <input type="text" name="message" placeholder="message">
    <input type="submit" value="ajout du log">
</form> 

<!--<%= params[:message] %> -->

<% @posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
<% end %>

